<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Ciclo Ambiental </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <%= image_tag "icon_ca.jpg", alt: "", title: "Ciclo Ambiental", size: "90x90" %>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <!-- <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Libraries CSS Files -->
  <%= stylesheet_link_tag "font-awesome/css/font-awesome.min", "animate/animate.min",
  "ionicons/css/ionicons.min", "owlcarousel/assets/owl.carousel.min",
  "lightbox/css/lightbox.min", "style" %>

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1>
          <a href="#intro" class="scrollto">Ciclo Ambiental</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Inicio</a></li>
          <li><a href="#about">Empresa</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#portfolio">Portafolio</a></li>
          <li><a href="#team">Equipo</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><%= image_tag "intro-carousel/1.jpg", alt: ""%></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2> Frase Cliche 1...</h2>
                <p> Bla Bla Bla </p>
                <a href="#featured-services" class="btn-get-started scrollto">Conócenos</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><%= image_tag "intro-carousel/2.jpg", alt: "" %></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2> Frase Cliche 2...</h2>
                <p> Bla Bla Bla </p>
                <a href="#featured-services" class="btn-get-started scrollto">Conócenos</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><%= image_tag "intro-carousel/3.jpg", alt: "" %></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2> Frase Cliche 3...</h2>
                <p> Bla Bla Bla </p>
                <a href="#featured-services" class="btn-get-started scrollto">Conócenos</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><%= image_tag "intro-carousel/4.jpg", alt: "" %></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2> Frase Cliche 4...</h2>
                <p> Bla Bla Bla </p>
                <a href="#featured-services" class="btn-get-started scrollto">Conócenos</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><%= image_tag "intro-carousel/5.jpg", alt: "" %></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2> Frase Cliche 5...</h2>
                <p> Bla Bla Bla </p>
                <a href="#featured-services" class="btn-get-started scrollto">Conócenos</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-bookmarks-outline"></i>
            <h4 class="title"><a>Excelencia</a></h4>
            <p class="description"> bla bla bla </p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a>Rapidez</a></h4>
            <p class="description"> bla bla bla </p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a>Compromiso</a></h4>
            <p class="description"> bla bla bla </p>
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Empresa</h3>
          <p> Breves palabras sobre como nació la empresa y mencionar lo más destacable</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <%= image_tag "about-mission.jpg", alt: "", class: "img-fluid"%>
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a>Nuestra Misión</a></h2>
              <p>
                Nuestra misión es...
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <%= image_tag "about-plan.jpg", alt: "", class: "img-fluid"%>
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a>Nuestra Estratégia</a></h2>
              <p>
                Nuestra estrategia es...
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <%= image_tag "about-vision.jpg", alt: "", class: "img-fluid"%>
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a>Nuestra Visión</a></h2>
              <p>
                Nuestra visión es...
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Servicios</h3>
          <p> Nos especializamos en... </p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a>Normativas</a></h4>
            <p class="description">...</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a>Regulaciones</a></h4>
            <p class="description">...</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a>Cotizaciones</a></h4>
            <p class="description">...</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a>Presupuestos</a></h4>
            <p class="description">...</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a>Compra de equipos</a></h4>
            <p class="description">...</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a>Planificación</a></h4>
            <p class="description">...</p>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Portafolio</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <%= image_tag "portfolio/app1.jpg", alt: "", class: "img-fluid"%>
                <a href="img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 1</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <%= image_tag "portfolio/web3.jpg", alt: "", class: "img-fluid"%>
                <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 3</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <%= image_tag "portfolio/app2.jpg", alt: "", class: "img-fluid"%>
                <a href="img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 2</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <%= image_tag "portfolio/card2.jpg", alt: "", class: "img-fluid"%>
                <a href="img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 2</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <%= image_tag "portfolio/web2.jpg", alt: "", class: "img-fluid"%>
                <a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 2</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <%= image_tag "portfolio/app3.jpg", alt: "", class: "img-fluid"%>
                <a href="img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 3</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <%= image_tag "portfolio/card1.jpg", alt: "", class: "img-fluid"%>
                <a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 1</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <%= image_tag "portfolio/card3.jpg", alt: "", class: "img-fluid"%>
                <a href="img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 3</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <%= image_tag "portfolio/web1.jpg", alt: "", class: "img-fluid"%>
                <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 1</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Nuestros Clientes</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <%= image_tag "clients/client-1.png", alt: ""%>
          <%= image_tag "clients/client-2.png", alt: ""%>
          <%= image_tag "clients/client-3.png", alt: ""%>
          <%= image_tag "clients/client-4.png", alt: ""%>
          <%= image_tag "clients/client-5.png", alt: ""%>
          <%= image_tag "clients/client-6.png", alt: ""%>
          <%= image_tag "clients/client-7.png", alt: ""%>
          <%= image_tag "clients/client-8.png", alt: ""%>
        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Equipo</h3>
          <p>Nuestro equipo está compuesto por...</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 wow fadeInUp">
            <div class="member">
              <%= image_tag "clau.jpg", alt: "", class: "img-fluid"%>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Claudia Muñoz</h4>
                  <span>Gerente de Proyectos</span>
                  <div class="social">
                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <%= image_tag "norma.jpg", alt: "", class: "img-fluid"%>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Norma Acuña</h4>
                  <span>Gerente de Finanzas y RRHH</span>
                  <div class="social">
                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <%= image_tag "nico2.jpg", alt: "", class: "img-fluid"%>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Nicolás Santibáñez</h4>
                  <span>Gerente de TI</span>
                  <div class="social">
                    <a href="https://twitter.com/nfsantibanezc" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="http://linkedin.com/in/nfsantibanez" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contáctanos</h3>
          <p> Si deseas realizar un proyecto con nosotros o solicitar nuestros servicios escríbenos,</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Dirección</h3>
              <address>Duble Almeyda 3221 depto 204, Santiago, Chile</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Teléfono</h3>
              <p><a href="tel:+56942645374">+56 9 42645374</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Correo</h3>
              <p><a href="mailto:claudia@cicloambiental.cl">cicloambiental@cicloambiental.cl</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Tu correo a sido eviado. Gracias por contactarnos.</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Escribe al menos 4 caracteres" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Correo" data-rule="email" data-msg="Ingresa un correo válido" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Escribe al menos 8 caracteres en el asunto" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Escríbenos tus consultas" placeholder="Mensaje"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Enviar Correo</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Ciclo Ambiental</h3>
            <p> Bla Bla Bla... </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Links Útiles</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#intro">Inicio</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="http://portal.mma.gob.cl/" target="_blank">Ministerio M.A.</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="http://www.sma.gob.cl/">Superintendencia M.A.</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="http://www.cl.undp.org/">PNUD</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contáctanos</h4>
            <p>
              Duble Almeyda 3221, depto 204<br>
              Región Metropilitana, Santiago<br>
              Chile <br>
              <strong>Teléfono:</strong> +56 9 42645374<br>
              <strong>Correo:</strong> cicloambiental@cicloambiental.cl<br>
            </p>

            <div class="social-links">
              <a href="https://twitter.com/Cicloambiental1" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/cicloambiental1" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Suscríbete</h4>
            <p> Recibe las últimas noticias relacionadas con el rubro de la
              ingeniería ambiental y el medioambiente </p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Ciclo Ambiental</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <%= javascript_include_tag "bootstrap/js/bootstrap.bundle.min", "easing/easing.min", "superfish/hoverIntent",
  "superfish/superfish.min", "waypoints/waypoints.min",
  "counterup/counterup.min", "owlcarousel/owl.carousel.min", "isotope/isotope.pkgd.min",
  "lightbox/js/lightbox.min", "touchSwipe/jquery.touchSwipe.min"%>

  <!-- Template Main and Contact Form JavaScript -->
  <%= javascript_include_tag "main", "contactform/contactform" %>

</body>
</html>
