<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Cicloambiental </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <!-- <%= image_tag "icon_ca_p.png", alt: "", title: "Ciclo Ambiental", size: "90x90" %> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <!-- <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Libraries CSS Files -->
  <%= stylesheet_link_tag "font-awesome/css/font-awesome.min", "animate/animate.min",
  "ionicons/css/ionicons.min", "owlcarousel/assets/owl.carousel.min",
  "lightbox/css/lightbox.min", "style" %>

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1>
          <a href="#intro" class="scrollto">
            <%= image_tag "icon_ca_p2.png", alt: "", title: "Cicloambiental", size: "50x50" %>
            Cicloambiental
          </a>
        </h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu"><a href="#about">Empresa</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#team">Equipo</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background", color=>
            </div>
            <div class="carousel-container">
              <div class="carousel-content">
                <%= image_tag "logo_ca_p.png", title: "Cicloambiental", size: "1000x1000" %>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-bookmarks-outline"></i>
            <h4 class="title"><a>Excelencia</a></h4>
            <p class="description">
              Realizamos la gestión de todos sus permisos ambientales sectoriales
              necesarios para su funcionamiento y cumplimiento de las normativas vigentes
            </p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a>Rapidez</a></h4>
            <p class="description"> Aplicamos nuestra experiencia y conocimiento
              en solucionar sus problemas ambientales de forma rápida
            </p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a>Compromiso</a></h4>
            <p class="description">
              Entregamos una solución al tratamiento de sus residuos acorde al
              tamaño de su empresa optimizando sus recursos
            </p>
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Empresa</h3>
          <p>
            Cicloambiental Ingeniería y Gestión SpA es una empresa formada por
            profesionales con más de 15 años de experiencia en el ámbito ambiental,
            enfocada principalmente en las áreas de gestión ambiental, ingeniería ambiental
            y prevención de riesgos
          </p>
        </header>

        <div class="row about-cols">

          <div class="col-md-6 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <%= image_tag "about-mission.jpg", alt: "", class: "img-fluid"%>
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a>Nuestra Misión</a></h2>
              <p>
                Entregar una amplia oferta de servicios ambientales en las áreas
                de Ingeniería y gestión, con el propósito de generar soluciones
                integrales a las diferentes problemáticas ambientales que se ven
                enfrentadas las empresas en los distintos sectores productivos y
                de servicios, promoviendo la eficiencia y la optimización de recursos
              </p>
            </div>
          </div>

          <!--
          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <%= image_tag "about-plan.jpg", alt: "", class: "img-fluid"%>
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a>Nuestra Estratégia</a></h2>
              <p>

              </p>
            </div>
          </div>
          -->

          <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <%= image_tag "about-vision.jpg", alt: "", class: "img-fluid"%>
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a>Nuestra Visión</a></h2>
              <p>
                Ser una empresa reconocida en el ámbito ambiental por entregar
                un servicio de excelencia, profesional y de alta calidad.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Servicios</h3>
          <p> Nos especializamos en 3 principales áreas de la ingeniería y gestión ambiental </p>
        </header>

        <div class="row">

          <div class="col-lg-12 col-md-12 box wow bounceInUp" data-wow-duration="1.5s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a>Gestión Ambiental</a></h4>
            <p class="description">
              ▪ Elaboración y tramitación de Declaraciones de Impacto Ambiental,
              Estudios de Impacto Ambiental y Cartas de pertinencias <br>
              ▪ Estudios de línea base (estimación de emisiones atmosféricas,
              flora y fauna, topografía, entre otros) <br>
              ▪ Auditorías de Seguimiento Resoluciones de Calificación Ambiental (RCA) <br>
              ▪ Tramitación de permisos sectoriales ante la SEREMI de Salud: <br>
                  &emsp;&emsp;&emsp;&emsp; ◦ Calificación Industrial <br>
                  &emsp;&emsp;&emsp;&emsp; ◦ Informes sanitarios <br>
                  &emsp;&emsp;&emsp;&emsp; ◦ Autorizaciones sanitarias de almacenamiento y disposición de
                  Residuos peligrosos (RESPEL) y no peligrosos, Sustancias peligrosas (SUSPEL),
                  planes de manejo de RESPEL, entre otros <br>
                  &emsp;&emsp;&emsp;&emsp; ◦ Cambios de titularidad de autorizaciones <br>
                  &emsp;&emsp;&emsp;&emsp; ◦ Inscripción y registro de fuentes fijas (F138) <br>
              ▪ Auditorías ambientales <br>
              ▪ Diagnósticos normativos y elaboración de matrices ambientales <br>
              ▪ Reportes de actualización de normativa ambiental <br>

              ▪ Evaluación y diagnósticos de sistemas de generación y manejo de
              residuos sólidos (Peligrosos y no peligrosos), elaboración de planes de manejo <br>
              ▪ Implementación de planes de Producción limpia <br>
              ▪ Capacitaciones en manejo de residuos (sólidos y líquidos) y seguridad <br>
              ▪ Ventanilla única <br>
                &emsp;&emsp;&emsp;&emsp; ◦ Solicitud de establecimiento <br>
                &emsp;&emsp;&emsp;&emsp; ◦ Cambio representante legal o encargado establecimiento <br>
                &emsp;&emsp;&emsp;&emsp; ◦ Declaraciones anuales obligatorias RETC: SINADER, Fuentes fijas F138,
              15027, entre otros <br>
              ▪ Tramitación de permisos sectoriales ante el SAG: Subdivisiones, fusiones
            </p>
          </div>

          <div class="col-lg-12 col-md-12 box wow bounceInUp" data-wow-duration="1s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a>Ingeniería Ambiental</a></h4>
            <p class="description">
              ▪ Diseño, implementación y puesta en marcha de sistemas de tratamiento
              de RILES y aguas servidas <br>
              ▪ Diagnósticos y optimización de sistemas de tratamiento de RILES y
              aguas servidas ya implementados <br>
              ▪ Supervisión de plantas de tratamiento de RILES y aguas servidas,
              incluyendo manejo de personal a cargo de la operación, coordinación
              con proveedores de químicos, insumos y laboratorio, mantenimientos
              preventivos y control operacional para dar cumplimiento con las
              normativas ambientales aplicables <br>
              ▪ Realización de capacitaciones para operadores de Sistemas de tratamiento
              de RILES y aguas servidas <br>
              ▪ Upgrade de Sistemas de tratamiento de aguas (Reingeniería, reparación
              y/o ampliación de Plantas de tratamiento de aguas servidas, agua potable,
              aguas de procesos, RILES) <br>
              ▪ Diseño de Sistemas de purificación de aguas con equipos FRP
              (Filtros para turbiedad, carbón activado, ablandadores, abatidores
              de arsénico, hierro-manganeso, sistemas de osmosis inversa de bajos
              flujos, entre otros)
            </p>
          </div>

          <div class="col-lg-12 col-md-12 box wow bounceInUp" data-wow-duration="0.5s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a>Prevención de Riesgos</a></h4>
            <p class="description">
              ▪ Programas de prevención de riesgos <br>
              ▪ Procedimientos de trabajo seguro <br>
              ▪ Reglamento Interno de orden, higiene y seguridad <br>
              ▪ Planes de emergencia y/o contingencia para transporte,
              almacenamiento, manejo de sustancias y disposición de residuos
              peligrosos y no peligrosos <br>
              ▪ Estudios de densidad de carga combustible <br>
            </p>
          </div>

          <!--
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.5s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a>Presupuestos</a></h4>
            <p class="description">...</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.5s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a>Compra de equipos</a></h4>
            <p class="description">...</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.5s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a>Planificación</a></h4>
            <p class="description">...</p>
          </div>
          -->

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Nuestros Clientes</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <%= image_tag "polkura.png", alt: ""%>
          <%= image_tag "blank.png", alt: ""%>
          <%= image_tag "flowin.png", alt: ""%>
          <%= image_tag "blank.png", alt: ""%>
          <%= image_tag "icsa.png", alt: ""%>
          <%= image_tag "blank.png", alt: ""%>
        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Equipo</h3>
          <p>Nuestro equipo está compuesto por</p>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6 wow fadeInUp">
            <div class="member">
              <%= image_tag "clau.jpg", alt: "", class: "img-fluid"%>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Claudia Muñoz</h4>
                  <span>Gerente de Proyectos</span>
                  <div class="social">
                    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <%= image_tag "norma.jpg", alt: "", class: "img-fluid"%>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Norma Acuña</h4>
                  <span>Gerente de Finanzas y RRHH</span>
                  <div class="social">
                    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <%= image_tag "nico2.jpg", alt: "", class: "img-fluid"%>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Nicolás Santibáñez</h4>
                  <span>Gerente de TI</span>
                  <div class="social">
                    <a href="https://twitter.com/nfsantibanezc" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="http://linkedin.com/in/nfsantibanez" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          -->

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contáctanos</h3>
          <p> Si deseas realizar un proyecto con nosotros o solicitar nuestros servicios escríbenos o llámanos </p>
        </div>

        <div class="row contact-info">

          <div class="col-md-6">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Teléfono</h3>
              <p><a>+56 9 42645374</a></p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Correo</h3>
              <p><a href="mailto:contacto@cicloambiental.cl">proyectos@cicloambiental.cl</a></p>
            </div>
          </div>

        </div>

        <!--
        <div class="form">
          <div id="sendmessage">Tu correo a sido eviado. Gracias por contactarnos.</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Escribe al menos 4 caracteres" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Correo" data-rule="email" data-msg="Ingresa un correo válido" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Escribe al menos 8 caracteres en el asunto" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Escríbenos tus consultas" placeholder="Mensaje"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Enviar Correo</button></div>
          </form>
        </div>

      </div>
      -->
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Cicloambiental</h3>
            <p> Cicloambiental Ingeniería y Gestión SpA es una empresa formada
              por profesionales con más de 15 años de experiencia en el ámbito
              ambiental, enfocada principalmente en las áreas de gestión ambiental,
              ingeniería ambiental y prevención de riesgos
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Links Útiles</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#intro">Inicio</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="http://portal.mma.gob.cl/" target="_blank">Ministerio M.A.</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="http://www.sma.gob.cl/">Superintendencia M.A.</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="http://www.cl.undp.org/">PNUD</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contáctanos</h4>
            <p>
              Región Metropilitana, Santiago<br>
              Chile <br>
              <strong>Teléfono:</strong> +56 9 42645374<br>
              <strong>Correo:</strong> proyectos@cicloambiental.cl<br>
            </p>

            <div class="social-links">
              <a href="https://twitter.com/Cicloambiental1" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/cicloambiental1" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Cicloambiental</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <%= javascript_include_tag "bootstrap/js/bootstrap.bundle.min", "easing/easing.min", "superfish/hoverIntent",
  "superfish/superfish.min", "waypoints/waypoints.min",
  "counterup/counterup.min", "owlcarousel/owl.carousel.min", "isotope/isotope.pkgd.min",
  "lightbox/js/lightbox.min", "touchSwipe/jquery.touchSwipe.min"%>

  <!-- Template Main and Contact Form JavaScript -->
  <%= javascript_include_tag "main", "contactform/contactform" %>

</body>
</html>
